<template>
    <div id="app" v-cloak>
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo"
                mode="horizontal"
                @select="handleSelect">
            <el-menu-item index="1">
                <el-link :underline="false">接口列表</el-link>
            </el-menu-item>
            <el-menu-item index="2">
                <el-link :underline="false">接口统计</el-link>
            </el-menu-item>
        </el-menu>
    </div>
</template>

